.container {
  max-width: var(--container-max-width, 75rem);
  width: 100%;
  margin-inline: auto;
  padding: var(--space-3xl) var(--space-xl);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  gap: var(--space-4xl);
}

.faq-wrapper section {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
