.popover {
  position: absolute;
  top: var(--popover-top);
  z-index: var(--z-index-popover);
  width: var(--popover-width, auto);
  overscroll-behavior: contain;
}

.align-right {
  left: var(--popover-left);
  transform: translateX(-100%);
}

.align-left {
  left: var(--popover-left);
}
